## Pandas Data Series [40 exercises with solution]

In [4]:
import pandas as pd

# 1) Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [8]:
nepal_city = pd.Series(['Kathmandu','Bhaktapur','Lalitpur','Dharan','Dolpa'])
nepal_city

0    Kathmandu
1    Bhaktapur
2     Lalitpur
3       Dharan
4        Dolpa
dtype: object

## 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [21]:
nepal_city_list = nepal_city.to_list()
type(nepal_city_list)

list

## 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [25]:
value_1 = pd.Series([5,10,22,44,1]).astype(int)
value_2 = pd.Series([11,42,3,54,9]).astype(int)

add = value_1 + value_2
sub = value_1 - value_2
multiply = value_1 * value_2
divide = value_1 / value_2

print("Addition:")
print(add)

print("\nSubtraction:")
print(sub)

print("\nMultiplication:")
print(multiply)

print("\nDivision:")
print(divide)

Addition:
0    16
1    52
2    25
3    98
4    10
dtype: int32

Subtraction:
0    -6
1   -32
2    19
3   -10
4    -8
dtype: int32

Multiplication:
0      55
1     420
2      66
3    2376
4       9
dtype: int32

Division:
0    0.454545
1    0.238095
2    7.333333
3    0.814815
4    0.111111
dtype: float64

## 4. Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [40]:
sample_1 = pd.Series([2, 4, 6, 8, 10]).astype(int)
sample_2 = pd.Series([1, 3, 5, 7, 10]).astype(int)
compare_sample = sample_1 == sample_2
compare_sample

0    False
1    False
2    False
3    False
4     True
dtype: bool

## 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [53]:
original_numbers = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print(f'Dictionary Original: \n{original_numbers}')
series = pd.Series(original_numbers)
print('Converted Series')
print(series)

Dictionary Original:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted Series
a    100
b    200
c    300
d    400
e    800
dtype: int64

## 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [54]:
import numpy as np

In [58]:
np_array = np.array([21,62,13,41,55])
print(f'Numpy Array: \n{np_array}')
s = pd.Series(np_array)
print(f'Converted to panda series: \n{s}')

Numpy Array:
[21 62 13 41 55]
Converted to panda series:
0    21
1    62
2    13
3    41
4    55
dtype: int32

## 7. Write a Pandas program to change the data type of given a column or a Series.

In [62]:
s = pd.Series([100.00,200.00,300.12,400.00])
print(f'Original Data Series: \n{s}')
change_dtype = s.astype(int)
print(f'Change the data type to numeric: \n{change_dtype}')

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object